/* Style for the header */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}

#contentHeader > h1 {
  font-size: 28px;
  margin: 0;
  color: #333;
}

#contentHeader > div {
  display: flex;
  align-items: center;
}

#contentHeader > div > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#contentHeader > div > ul > li {
  margin-left: 20px;
}

#contentHeader > div > ul > li > a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
}

#contentHeader > div > ul > li > a:hover {
  background-color: #ddd;
}

/* Style for the main content */
#content {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
}

#content > h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

#content > p {
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #555;
  text-align: left;
  max-width: 350px;
  padding-left: 70px;
}

/* Style for the buttons */
li {
  display: inline-block;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #555;
}

.paellaPic {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.logo {
  width: 200px;
  padding-left: 100px;
}

#content > .menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.menu-item {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.contact-center {
  position: absolute;
  left: 40%;
}
